*{
    margin: 0px;
    padding: 0px;
}
.title::after{
    
        content: "";
        position: absolute;
        background-color: black;
        width: 50px;
        height: 3px;
        top: 210px;
        margin-left: 20px;
    
}